/* LeftPanel.css */

.left-panel {
  flex: 1;
  background-color: #289cb1; /* Set a light background color */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  min-height: 100vh; /* Add this line */
  width: auto; /* adjust as needed */
  margin: 0; /* adjust as needed */
  box-sizing: border-box;
}
  .section {
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 4px; /* Add rounded corners to sections */
    background-color: #fff; /* Set a white background for sections */
  }
  
  .section:hover {
    background-color: #f0f0f0; /* Add a hover effect on sections */
  }
  
  .content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px; /* Add rounded corners to content */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a shadow to content */
    background-color: #fff; /* Set a white background for content */
  }
  
  .section:hover .content {
    display: block;
  }
  